In [22]:
import os
import pandas as pd

In [41]:
filepath_1 = os.path.join("census_2010_ZCTA.csv")
census_ZCTA_df = pd.read_csv(filepath_1)
# len(census_ZCTA_df)
census_ZCTA_df.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [58]:
filepath_2 = os.path.join("Gaz_zcta_national.txt")
zipcode_df = pd.read_csv(filepath_2, sep='\t', lineterminator='\r')
# len(zipcode_df)
zipcode_clean_df = zipcode_df.replace(r'\n',' ', regex=True)
zipcode_clean_df.head()

,GEOID,POP10,HU10,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,00601,18570.0,7744.0,166659789.0,799296.0,64.348,0.309,18.180555,-66.749961
1,00602,41520.0,18073.0,79288158.0,4446273.0,30.613,1.717,18.362268,-67.176130
2,00603,54689.0,25653.0,81880442.0,183425.0,31.614,0.071,18.455183,-67.119887
3,00606,6615.0,2877.0,109580061.0,12487.0,42.309,0.005,18.158345,-66.932911
4,00610,29016.0,12618.0,93021467.0,4172001.0,35.916,1.611,18.290955,-67.125868

In [60]:
zipcode_clean_df.to_csv("zcta_census_2010")